extends layouts/main

block content
  .form-container
    form(action=`/videos/${routes.upload}`, method="post", enctype="multipart/form-data")
      //- enctype은 he enctype attribute specifies how the form-data should be encoded 
           when submitting it to the server.
      label(for="file") Video File
      input(type="file", id="file", name="videoFile", required=true accept='video/*')
      input(type="text", placeholder="Title", name="title", required=true)
      textarea(name="description", placeholder="Description", required=true)
      input(type="submit", value="Upload Video")